* {
    margin: 0;
    padding: 0;
    gap: 0;
}

.gridMain {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.leftRow,
.leftNav,
.topNavL,
.topNavR,
.showProject,
.myProjsClick,
.addProjectsNav,
.navProjectDiv{
        display: flex;
}

.leftRow {
    flex-direction: column;
    grid-row: span 3;
    grid-column: 1;
    padding-left: 30px;
    padding-right: 20px;
    background-color: rgb(255, 252, 247);
    min-width: 250px;
}

.leftNav,
.myProjsClick {
    justify-content: space-between;
    align-items: center;
}

.topNavL,
.topNavR,
.addProjectsNav {
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.topColumn {
    grid-row: 1;
    grid-column: 2/3;
}

.star {
    height: 100%;
    width: 50px;
}

.todo {
    font-size: 1.5rem;
}

.leftRow,
.todo {
    color: rgb(88, 88, 88);
}

.sideGroup1,
.today,
.upcoming,
.calendar,
.click4New.two,
.projectsMiniSide { 
    cursor: pointer;
}

.click4New.two {
    padding-top: 35px;
}

.leftRow,
.rightRow {
    padding-top: 20px;
}

.sideGroup1,
.sideGroup2,
.sideGroup3 {
    padding-top: 40px;
}

.plusBtn {
    border: none;
    background-color: rgb(255, 252, 247);
    font-size: 1rem;
}

/* MAIN PAGE - HERO */

.rightRow {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.sayHi {
    padding-top: 60px;
}

.greeting {
    font-size: 4rem;
    font-style: italic;
}

.underGreeting {
    font-size: 1.5rem;
    color: rgb(93, 91, 91);
    font-style: oblique;
}

.showProject {
    gap: 50px;
    padding-top: 120px;
}

.listName,
.list {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.lineDiv {
    width: 400px;
    border-top: 1px solid rgb(172, 172, 172);
    padding-bottom: 30px;
}